# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
wheels/
*.egg-info/
*.egg

# Virtual environments
.venv/

# Tool caches
.pytest_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
*.json
*.db
!pyproject.toml
